@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Khitan+Small+Script&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
    margin: 0%;
    height: auto;
    
}
h1{
    text-align: center;
    font-weight: 700;
    font-size: 350;
    font-family: Orbitron, sans-serif ;
    color: #1F38EB;
    text-shadow: 2px 2px #000000;

}

h2{
    text-align: center;
    font-weight: 700;
    font-size: 350;
    font-family: Concert One, sans-serif;
    color: #1E77EB;
    text-shadow: 1px 1px #000000;
}

h3{
    text-align: center;
    font-weight: 800;
    font-size: 350;
    font-family: Concert One, sans-serif;
    color: #000000;
}

.aga1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50px;
}
.nog{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
}

.conteudo-padrao{
    
    text-align: center;
    font-weight: 5000;
    font-size: 1000;
    font-family: Concert One, sans-serif;
    color: #000000;
}

.img:hover{
    transition: 0.5s;
    transform: translateX(6px) scale(1.1);
}

.img{
    width: 400px;
    box-shadow: 5px 5px #00c3ff;
    border-radius: 20px;
}

.botao{
    
    font-family: "Roboto Mono", monospace;
    height: 30px;
    width: 400px;
    text-align: center;
    border: solid 2px 50px blue;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: aqua;
    box-shadow: 2px 2px rgb(44, 2, 197);
    border-radius: 20px ;

    
}

#spaace{ 

    background-color:#8cd6e9;
    border-radius: 40px;
    

}

#paac{
    background-color:#8cd6e9;
    border-radius: 40px;
 
}

#daank{
    background-color:#8cd6e9;
    border-radius: 40px;
}

#maario{
    background-color:#8cd6e9;
    border-radius: 40px;
}

footer{
    
    text-align: center;
    font-family: Concert One, sans-serif;
    background-color: #41a7eb;
    height: 20px;

}

#imageq{
    
    width: 30px;
}

#imageq:hover{
    transition: 0.5s;
    transform: translateX(0px) scale(1.3)
}

.nooog{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

  .botao:hover{
    background-color: rgb(42, 159, 209);
    transition: 0.7s;
    transform: translateY(2px) scale(1.1);
  }

  .botao:active {
background-color: #4547ecf5;
transform: translateY(4px);
  }

  .texto{
    
    padding: 7px;
  }



  

