@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Khitan+Small+Script&display=swap');
body{
    background: url(img2/jogo-do-tigrinho-fortune-tiger.jpeg) ;
    
}
h1{
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nog{
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.top{
    font-family: Josefin Sans, sans-serif;
    text-align: center;
}

.tigre{
    
    width: 70px;
    border-radius: 8000px;
}

.pokemon{
    text-align: center;
    border-radius: 20px;
    width: 50%;
    
    
}



.camarote{
    text-align: center;
}

.botaozada{

    background-color: rgb(137, 235, 241);
    font-family: Josefin Sans, sans-serif;
    border: outset 5px blue;
    
}

.botaozada:hover{

    transition: 0.5s;
    transform: translateX(2px) scale(1.2);
}
    

.retro{
    text-align: center;
    
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    
}

.nog{
    width: 600px;
    border-radius: 20%;
    
}

#new{
    width: 50px;
}

#new:hover{
    transition: 0.5s;
    transform: translateX(0px) scale(1.1);  
}